
<%= @symbol %>
<br/>
<% @quote["DISPLAY"] %>
<% @quote["DISPLAY"].each do |key, value| %>
	<div class="jumbotron">
	  	<h1><%= key %> </h1>
		Price: <%= value["USD"]["PRICE"] %> <br/>
		24 Hr High: <%= value["USD"]["HIGHDAY"] %><br/>
		24 Hr Low: <%= value["USD"]["LOWDAY"] %><br/>
		Market Cap: <%= value["USD"]["MKTCAP"] %><br/>
	</div>
		
<% end %>
